html {
    height: 100%;
}
.login-page{
    background-color: #12d16e;
    height: 500px;
    width: 400px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    padding: 60px;
    border: none;
    border-radius: 150px 50px 150px 2px;
    color: white;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);

}
.login-page h1{
    margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login label{
    /* text-decoration: none;
    margin-top: 20px;
    display: block; */
    position: absolute;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.login .input-control{
    border: none;
    margin-left: 20px;
    margin-top: 30px;
    width: 100%;
    border-radius: 2px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login .input-control:focus ~ label,
.login .input-control:valid ~ label{
    top: -20px;
    left: 0;
    color: #0cd7e2;
    font-size: 12px;
}
.btn-login{
    height: 50px;
    width: 100px;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color: white;
}
.btn-login:hover{
    background: #12d16e;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff,
              0 0 25px #fff,
              0 0 50px #fff,
              0 0 100px #fff;
}