.sign-up{
    
    color: rgb(0, 0, 0);
    height: 90%;
    width: 400px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    padding: 60px;
    border: none;
    border-radius: 150px 50px 150px 2px;
    justify-content: center;

    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.sign-up h1{
    margin: 0 0 30px;
  padding: 0;
  color: rgb(0, 0, 0);
  text-align: center;
}
.sign label{
    /* text-decoration: none;
    margin-top: 20px;
    display: block; */
    
    padding: 0px ;
    font-size: 16px;
    color: rgb(0, 0, 0);
    pointer-events: none;
    transition: .5s;
}

.sign .input-control{
    border: none;
   
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    
    padding: 10px 0;
    font-size: 16px;
   
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}

.sign .btn-create-account{
    height: 50px;
    width: 100%;
    border: none;
    cursor: pointer;
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-left: 110px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color: white;
}


/* .show {
    display: block;
    transition: 800ms;
    opacity: 1;
}

.show .active {
    transform: translateY(100px) scale(0) rotateY(180deg);
    opacity: 0;
} */

















.btn-create-account:hover{
    background: #000000;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #fff,
              0 0 25px #fff,
              0 0 50px #fff,
              0 0 100px #fff;
}
