.productimage img {
    width: 70px;
    border-radius: 10px;
}
.danger1 {
    width: 10px;
}
.danger1 svg {
    color: red;
    cursor: pointer;
    
}
.edit {
    width: 10px;
}
.edit svg {
    cursor: pointer;
   
}